/* .qnote-insidenote pre {
	all: initial !important;
	white-space: pre !important;
} */

/* Reduce svg image size because it occupies too much space in column */
.qnote-column > img {
	width: 70%;
}

.qnote-insidenote {
	cursor: context-menu;
	box-shadow: 2px 2px 2px 1px hsla(210,4%,10%,.15);
}

.qnote-title {
	color: black;
	background: url('../images/title-background.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #fff08d;
	align-items: baseline;
	font-size: small;
	font-weight: bolder;
	border: solid 1px #d19231;
	margin: 0;
	padding: 6px;
}

.qnote-text {
	color: black;
	box-sizing: border-box;
	margin: 0;
	padding: 6px;
	background: url('../images/txt-background.png');
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
	border: solid 1px #FAF098;
}

.qnote-insidenote-top {
	margin-bottom: 0.5em;
}

.qnote-insidenote-bottom {
	margin-top: 0.5em;
}

.qnote-mm {
	background-image: url('../images/icons/qnote.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

@media (prefers-color-scheme: dark) {
	.qnote-title {
		color: white;
		background-image: url(../images/title-background-dark.png);
		background-color: #4d4d4d;
		border: solid 1px black;
	}
	.qnote-text {
		color: white;
		background-color: #2f2f33;
		background-image: url(../images/txt-background-dark.png);
		border: solid 1px black;
	}
	.qnote-text pre {
		color: white;
	}
	.qnote-insidenote pre {
		color: white;
	}
}
