.popup {
	height: 100vh;
	width: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.qpopup-title {
	color: black;
	background: url(../images/title-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 32px;
	background-color: #fff08d;
	display: flex;
	/* align-items: baseline; */
	line-height: 32px;
	font-size: small;
	font-weight: bolder;
	border-bottom: solid 1px #d19231;
}
.qpopup-title-text {
	display: flex;
	align-items: baseline;
	margin-left: 9px;
	flex-grow: 100;
}

.qpopup-title-closebutton {
	display: flex;
	margin: 9px;
	flex-grow: 0;
}

.qpopup-title-closebutton > img {
	cursor: pointer;
	border: none;
	width: 14px;
	height: 14px;
	background: url(../images/close.png) 0 0;
}
.qpopup-title-closebutton > img:hover {
	background: url(../images/close.png) 0 14px;
}

.qpopup-controls {
	height: 24px;
	display: flex;
	/* justify-content: space-between; */
	/* align-items: flex-end; */
	background-color: #FBFEBF;
}

.qpopup-custom-controls {
	flex-grow: 100;
	height: 24px;
	display: flex;
	align-items: baseline;
}
.qpopup-custom-controls > div {
	display: flex;
	height: 24px;
	margin-left: 5px;
}

.qpopup-controls-resize {
	flex-basis: bottom;
	flex-grow: 1;
	cursor: nwse-resize;
	width: 14px;
	height: 24px;
	background: url(../images/redim.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* 24px (controls) + 32px (title) + 1px (border) */
/* .qpopup-contents-wrap {
	display: flex;
	height: calc(100% - 57px);
	overflow: auto;
	background: url(../images/txt-background.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
}

.qpopup-contents {
	word-wrap: break-word;
	color: black;
	resize: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: solid 1px #FAF098;
}

.qpopup-contents > iframe {
	margin: 0;
	padding: 0;
	border: none;
}
*/

.qpopup-contents-wrap,
.qpopup-contents-wrap > textarea {
	width: 100%;
	box-sizing: border-box;
	line-height: 0;
	margin: 0;
	padding: 0;
	/* border: 1px solid green; */
}

.qpopup-contents-wrap {
	display: flex;
	height: calc(100% - 57px);
}

/* .qpopup-contents-wrap > textarea {
	display: block;
} */

textarea {
	border: none;
	outline: none;
	height: 100vh;
	display: block;

	/* -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none; */
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


#note-wrap {
	/* height: 100vh; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#note-text {
	color: black;
	resize: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 4px;
	background: url(../images/txt-background.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
	border: solid 1px #FAF098;
}

#note-delete {
	height: 24px;
	cursor: pointer;
	flex-basis: bottom;
}

#note-delete > div {
	width: 14px;
	height: 14px;
	margin: auto;
	background: url(../images/supprimer.png) 14px 14px;
}

#note-delete > div:hover {
	background: url(../images/supprimer.png) 0 0;
}

@media (prefers-color-scheme: dark) {
	#note-text {
		color: white;
		background-color: #2f2f33;
		background-image: url(../images/txt-background-dark.png);
		border: solid 1px black;
	}

	.qpopup-controls {
		background-color: #2f2f33;
	}

	.qpopup-title {
		color: white;
		background-image: url(../images/title-background-dark.png);
		background-color: #4d4d4d;
		border-bottom: solid 1px black;
	}
	.qpopup-controls-resize {
		background-image: url(../images/redim-dark.png);
	}
	.qpopup-title-closebutton > img {
		background: url(../images/close-dark.png) 0 0;
	}
	.qpopup-title-closebutton > img:hover {
		background: url(../images/close-dark.png) 0 14px;
	}
}
