/* .qnote-insidenote pre {
	all: initial !important;
	white-space: pre !important;
} */

.qnote-column-header {
	list-style-image: url('../images/icon-column.png');
}

.qnote-insidenote {
	box-shadow: 2px 2px 2px 1px hsla(210,4%,10%,.15);
}

.qnote-title {
	color: black;
	background: url('../images/title-background.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #fff08d;
	display: flex;
	align-items: baseline;
	font-size: small;
	font-weight: bolder;
	border: solid 1px #d19231;
	margin: 0;
	padding: 6px;
}

.qnote-text {
	white-space: pre;
	color: black;
	box-sizing: border-box;
	margin: 0;
	padding: 6px;
	background: url('../images/txt-background.png');
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
	border: solid 1px #FAF098;
}

.qnote-insidenote-top {
	margin-bottom: 0.5em;
}

.qnote-insidenote-bottom {
	margin-top: 0.5em;
}

/* .item_header {
	border: 1px solid blue;
} */

.qnote-mm {
	background-image: url('../images/icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1ex;
	margin-bottom: 4px;
}

@media (prefers-color-scheme: dark) {
	.qnote-title {
		color: white;
		background-image: url(../images/title-background-dark.png);
		background-color: #4d4d4d;
		border: solid 1px black;
	}
	.qnote-text {
		color: white;
		background-color: #2f2f33;
		background-image: url(../images/txt-background-dark.png);
		border: solid 1px black;
	}
	.qnote-text pre {
		color: white;
	}
	.qnote-insidenote pre {
		color: white;
	}
}
