@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/preferences.css");

html, body {
	font: message-box;
	background-color: var(--in-content-page-background);
	color: var(--in-content-page-color);
	margin: 0;
	padding: 0;
}

form {
	margin: 0 !important;
	padding: 0 !important;
}

button {
	white-space: nowrap;
	text-align: center;
}

legend {
	padding: 0.25em 0.5em;
	background-color: var(--in-content-categories-background);
	border: 1px solid var(--in-content-box-border-color);
	/* border:1px solid #96c9ef; */
	/* background-color: #ffda44; */
}

fieldset {
	/* border: 1px solid #96c9ef; */
	border: 1px solid var(--in-content-box-border-color);
	/* margin: 0 0 0 1em; */
	margin: 0;
	padding: 0 1em;
}

select, input[type=text], input[type=number] {
	/* border: 1px solid #96c9ef; */
	border: 1px solid var(--in-content-box-border-color);
}

input[type=number] {
	border-right: none;
}

input[type=checkbox] {
	margin: 0;
	margin-top: 3px;
	margin-inline-end: unset;
}

select {
	min-height: auto;
}

option, optgroup {
	padding: 0.25em;
}

td {
	vertical-align: middle;
}

#errorBox {
	background-image: url("chrome://global/skin/icons/error-16.png");
	background-repeat: no-repeat;
	background-position: 1em center;
	/* border: 1px solid var(--in-content-warning-container); */
	border: 1px solid var(--in-content-box-border-color);
	font-weight: bold;
	padding: 1em;
	padding-left: 3em;
	margin: 0;
	display: none;
	/* margin-top: 1em; */
}

.anchorPlacementContainer {
	background-image: url(../images/empty-win.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 192px;
	height: 108px;
}

.anchorPlacement {
	margin-top: 6px;
	margin-left: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	border-collapse: collapse;
}

.anchorPlacement td {
	border: 1px solid ghostwhite;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

/* Align radio buttons */
.anchorPlacement tr:first-child td {
	vertical-align: top;
}
.anchorPlacement tr:last-child td {
	vertical-align: bottom;
}
.anchorPlacement td:last-child {
	text-align: right;
}
.anchorPlacement td:first-child {
	text-align: left;
}
