html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

button {
	white-space: nowrap;
}

legend {
	padding: 0 1rem;
	border:1px solid #96c9ef;
	background-color: #ffda44;
}

fieldset {
	border: 1px solid #96c9ef;
	margin-bottom: 1rem;
}

select, input[type=text], input[type=number] {
	border: 1px solid #96c9ef;
}

a {
	color: #41a5ef;
}

#storageFieldset_ext {
	border: 1px solid #96c9ef;
}

.anchorPlacement {
	border-collapse: collapse;
}

.anchorPlacement input[type=radio] {
	margin: auto;
	padding: 0;
	display: block;
}

.anchorPlacement td {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.lineX {
	min-width: 32px;
	background-image: url(../images/1x1border.gif);
	background-repeat: repeat-x;
	background-position: center;
}

.lineY {
	min-height: 20px;
	background-image: url(../images/1x1border.gif);
	background-repeat: repeat-y;
	background-position: center;
}
