@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/preferences.css");

html, body {
	font: message-box;
	/* background-color: var(--in-content-page-background); */
	color: var(--in-content-page-color);
	margin: 0;
	padding: 0;
}

form {
	margin: 0 !important;
	padding: 0 !important;
}

button {
	white-space: nowrap;
	text-align: center;
}

legend {
	padding: 0.25em 0.5em;
	/* background-color: var(--in-content-categories-background);
	border: 1px solid var(--in-content-box-border-color); */
	/* border:1px solid #96c9ef; */
	/* background-color: #ffda44; */
}

fieldset {
	/* border: 1px solid #96c9ef; */
	border: 1px solid var(--in-content-categories-background);
	/* border: 1px solid var(--in-content-box-border-color); */
	/* margin: 0 0 0 1em; */
	margin: 0;
	padding: 0 1em;
}

select, input[type=text], input[type=number] {
	margin-left: 8px; /* Hack to match select */
	/* border: 1px solid var(--in-content-box-background-active); */
}

input[type=number] {
	border-right: none;
}

input[type=checkbox] {
	margin: 0;
	margin-top: 3px;
	margin-inline-end: unset;
}

select {
	min-height: auto;
}

option, optgroup {
	padding: 0.25em;
}

td {
	vertical-align: middle;
}

#errorBox {
	background-image: url("chrome://global/skin/icons/error-16.png");
	background-repeat: no-repeat;
	background-position: 1em center;
	/* border: 1px solid var(--in-content-warning-container); */
	/* border: 1px solid var(--in-content-box-border-color); */
	font-weight: bold;
	padding: 1em;
	padding-left: 3em;
	margin: 0;
	display: none;
	/* margin-top: 1em; */
}

:root {
	--aspect-ratio: 1.6;
	--cell-w: 64px;
	--cell-h: calc(var(--cell-w) / var(--aspect-ratio));
}

.anchorSelector {
	vertical-align: top;
	padding-top: calc(var(--cell-h) / 2);
}

#posGrid {
	margin: 0 auto;
	width: calc(5 * var(--cell-w));
	height: calc(5 * var(--cell-h));
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	background-repeat: no-repeat;
	background-image: url(../images/empty-win.gif);
	background-size: calc(100% - 2 * var(--cell-w)) calc(100% - 2 * var(--cell-h));
	background-position: var(--cell-w) var(--cell-h);
}

#posGrid .cell {
	width: var(--cell-w);
	height: var(--cell-h);
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(../images/mini-note-disabled.gif);
	background-position: center;
	background-size: 50%;
	opacity: 0.5;
	/* border:1px solid #96c9ef; */
}

#posGrid .cell:hover,
#posGrid .active {
	background-image: url(../images/mini-note.gif);
	opacity: 1;
}

/* Align mini-note backgrounds */
/* Row 1 */
#posGrid .col .cell:nth-child(1) {
	background-position-y: bottom;
}

/* Row 2 */
#posGrid .col .cell:nth-child(2) {
	background-position-y: top;
}

/* Row 4 */
#posGrid .col .cell:nth-child(4) {
	background-position-y: bottom;
}

/* Row 5 */
#posGrid .col .cell:nth-child(5) {
	background-position-y: top;
}

/* Col 1 */
#posGrid .col:nth-child(1) .cell {
	background-position-x: right;
}

/* Col 2 */
#posGrid .col:nth-child(2) .cell {
	background-position-x: left;
}

/* Col 4 */
#posGrid .col:nth-child(4) .cell {
	background-position-x: right;
}

/* Col 5 */
#posGrid .col:nth-child(5) .cell {
	background-position-x: left;
}

#dateBlock {
	display: grid;
	align-items: auto;
	grid-template-columns: min-content min-content;
}

#dateBlock > div {
	white-space: nowrap;
	margin: auto 0;
}
