html{
	min-height:100%;
	position:relative;
}

body{
	height:100%;
}

#popup-content {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
}

textarea {
	color: black;
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: url(txt-background.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
	border: solid 2px #FAF098;
}
