html, body, img {
	padding: 0;
	margin: 0;
}

#note-wrap {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#note-text {
	color: black;
	resize: none;
	width: 100%;
	height:100%;
	box-sizing: border-box;
	margin: 0;
	padding: 4px;
	border: none;
	background: url(../images/txt-background.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
	border: solid 1px #FAF098;
}
