html, body {
	padding: 0;
	margin: 0;
}

img {
	border: none;
	margin: 0;
	padding: 0;
}

.popup {
	height: 100vh;
	width: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.qpopup-title {
	color: black;
	background: url(../images/title-background.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 32px;
	background-color: #fff08d;
	display: flex;
	align-items: baseline;
	font-size: small;
	font-weight: bolder;
	border-bottom: solid 1px #d19231;
}
.qpopup-title-text {
	display: flex;
	align-items: baseline;
	margin-left: 7px;
	flex-grow: 100;
}

.qpopup-title-closebutton {
	display: flex;
	margin: 7px;
	flex-grow: 0;
}

.qpopup-title-closebutton > img {
	cursor: pointer;
	border: none;
	width: 14px;
	height: 14px;
	background: url(../images/close.png) 0 0;
}
.qpopup-title-closebutton > img:hover {
	background: url(../images/close.png) 14px 0;
}

.qpopup-controls {
	height: 22px;
	display: flex;
	/* justify-content: space-between; */
	/* align-items: flex-end; */
	background-color: #FBFEBF;
}

.qpopup-custom-controls {
	flex-grow: 100;
	height: 22px;
	display: flex;
	align-items: baseline;
}
.qpopup-custom-controls > div {
	display: flex;
	height: 22px;
	margin-left: 4px;
}

.qpopup-controls-resize {
	flex-basis: bottom;
	flex-grow: 1;
	cursor: nwse-resize;
	width: 14px;
	height: 22px;
	background: url(../images/redim.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* 26px (controls) + 32px (title) + 1px (border) */
/* .qpopup-contents-wrap {
	display: flex;
	height: calc(100% - 59px);
	overflow: auto;
	background: url(../images/txt-background.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: #FBFEBF;
}

.qpopup-contents {
	word-wrap: break-word;
	color: black;
	resize: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: solid 1px #FAF098;
}

.qpopup-contents > iframe {
	margin: 0;
	padding: 0;
	border: none;
}
*/

.qpopup-contents-wrap,
.qpopup-contents-wrap > iframe {
	width: 100%;
	box-sizing: border-box;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

.qpopup-contents-wrap {
	width: 100%;
	display: flex;
	height: calc(100% - 55px);
}

.qpopup-contents-wrap > iframe {
	display: block;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
